/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-very-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);
  --clr-light-grayish-blue: hsl(240, 75%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

html,
body {
  height: 100%;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

/* debug purpose only */
header,
footer,
article {
  /* border: 1px solid red; */
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component"
    "main-component"
    "info-component"
    "product-trial-component"
    "footer-component";

  min-width: 37.5rem;
}

/* style 1st component - mobile */

.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4rem 1.5rem 8rem 1.5rem;
}

.header-component__img {
  height: 3.5rem;
}

.header-component__nav {
  padding-right: 1.5rem;
}

.header-component__nav > ol {
  display: flex;
  gap: 2rem;
}

.header-component__nav > ol > li {
  list-style-type: none;

  font-size: 1.5rem;
  font-family: var(--ff-heading);
  font-weight: var(--fw-400);
}

.header-component__nav > ol > li > a {
  text-decoration: none;
  color: var(--clr-desaturated-blue);
}

/* style 2nd component - mobile */

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  padding: 1rem 1.5rem 8rem 1.5rem;
}

.main-component__heading {
  max-width: 92%;

  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.5rem;

  text-align: center;
  line-height: 1.5;
}

.main-component__product-info {
  max-width: 85%;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.5rem;

  text-align: center;
}

.main-component__email-input {
  width: 85%;

  font-size: 1.3rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);

  padding: 1.2rem 0 1.2rem 1rem;
}

.main-component__button {
  width: 85%;
  padding: 1.4rem 0;

  font-size: 1.4rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-700);

  background-color: var(--clr-bright-blue);
  color: white;

  border: none;
}

/* style 3rd component - mobile */

.info-component {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  background: linear-gradient(
      to top,
      var(--clr-light-grayish-blue),
      var(--clr-light-grayish-blue)
    )
    no-repeat 0px 4.8rem;

  padding-bottom: 8rem;
}

.info-component__background-img {
  width: 100%;
}

.info-component__img {
  padding: 2rem 1.5rem 6rem 1.5rem;
}

.info-component__heading {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 1.8rem;

  padding: 0 1.5rem;
}

.info-component__info-1,
.info-component__info-2 {
  width: 32.5rem;

  font-size: 1.4rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);

  text-align: center;
}

.info-component__working-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  width: 15.8rem;
  border-bottom: 0.1rem solid green;

  padding-bottom: 0.5rem;
}

.info-component__working-info > p {
  font-size: 1.4rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);

  color: var(--clr-moderate-cyan);
}

.info-component__working-info > img {
  width: 2rem;
  height: 2rem;
}

.info-component__testimonial {
  width: 85%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem 2rem 2rem 3rem;
  margin-top: 2rem;

  background-color: white;
}

.info-component__testimonial > p {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.2rem;
}

.info-component__testimonial-person-details {
  display: flex;
  gap: 1rem;
}

.info-component__testimonial-person-details > img {
  width: 3.5rem;
  border-radius: 50%;
}

.info-component__testimonial-person-details > section {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}

.info-component__testimonial-person-details > section > h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 1.2rem;
}

.info-component__testimonial-person-details > section > p {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1rem;
}

/* style 4th component - mobile */

.product-trial-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 6rem 1.5rem;

  background-color: var(--clr-desaturated-blue);
  color: white;
}

.product-trial-component__heading {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.2rem;

  color: var(--clr-light-grayish-blue);
}

.product-trial-component__info {
  width: 90%;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.4rem;

  text-align: center;

  padding: 1.5rem 0;

  color: var(--clr-light-grayish-blue);
}

.product-trial-component__email-input {
  width: 75%;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.1rem;

  padding: 0.8rem 0;
  padding-left: 1rem;
}

.product-trial-component__button {
  width: 75%;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.1rem;

  padding: 1.2rem 0;

  background-color: var(--clr-bright-blue);
  border: none;
  color: white;
}

/* style 5th component - mobile */

.footer-component {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--clr-very-dark-blue);
  color: white;

  padding: 5rem 3rem;
}

.footer-component__logo {
  width: 50%;

  padding-bottom: 1.5rem;
}

.footer-component__phone,
.footer-component__email {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.6rem;

  color: var(--clr-light-grayish-blue);
}

.footer-component__phone > img {
  width: 1.9rem;
  height: 1.9rem;
}

.footer-component__email > img {
  width: 2.3rem;
  height: 1.9rem;
}

.footer-component__about-us > ul > li,
.footer-component__contact-us > ul > li,
.footer-component__social-links > ul > li {
  list-style-type: none;
}

/* Google "css circle around fb icon" */
/* https://stackoverflow.com/a/37407965/2607372 */
.footer-component__social-links > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  background-color: var(--clr-very-dark-blue);

  border-radius: 50px;
  border: 0.12rem solid white;
}

.footer-component__about-us,
.footer-component__contact-us {
  display: flex;
  flex-direction: column;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.6rem;

  padding-top: 2rem;

  color: var(--clr-light-grayish-blue);
}

.footer-component__about-us > ul,
.footer-component__contact-us > ul {
  padding: 1.2rem 0;
}

.footer-component__about-us > ul > li,
.footer-component__contact-us > ul > li {
  padding: 1.2rem 0;
}

.footer-component__social-links > ul {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.fa-brands {
  font-size: 1.6rem;
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */

@media screen and (min-width: 48rem) {
  .grid-container {
    justify-items: center;

    width: 100%;
    max-width: 144rem;
  }

  /* component 1 - desktop */

  .header-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header-component__img header-component__nav";

    width: 80%;
  }

  .header-component__img {
    height: 4.5rem;
  }

  .header-component__nav {
    justify-self: end;
  }

  .header-component__nav > ol {
    gap: 4rem;
  }

  /* component 2 - desktop */

  .main-component {
    display: grid;
    grid-template-columns: 30rem 20rem 63rem;
    grid-template-rows: 10rem 9rem 4.5rem;
    grid-template-areas:
      "main-component__heading main-component__heading main-component__img"
      "main-component__product-info main-component__product-info main-component__img"
      "main-component__email-input main-component__button main-component__img";
    gap: 1rem;

    width: 80%;
    padding: 8rem 0 16rem 0;
  }

  .main-component__img {
    max-width: 90%;
    justify-self: end;

    margin-top: 3rem;
  }

  .main-component__heading {
    text-align: start;

    font-size: 3.4rem;
    line-height: 1.4;

    max-width: 100%;
  }

  .main-component__product-info {
    text-align: start;
    font-size: 1.6rem;

    max-width: 100%;

    align-self: start;

    color: var(--clr-very-dark-blue);
  }

  .main-component__email-input {
    padding: 0.8rem 0 0.8rem 1rem;
  }

  .main-component__button {
    padding: 1.1rem 0 1.1rem 1rem;
    font-size: 1.3rem;
  }

  .main-component__email-input,
  .main-component__button {
    width: 100%;
  }

  /* component 3 - desktop */

  .info-component {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 10rem 6rem 5rem 5rem 3rem 25rem;
    grid-template-areas:
      "info-component__background-img info-component__background-img"
      "info-component__heading  info-component__img"
      "info-component__info-1  info-component__img"
      "info-component__info-2  info-component__img"
      "info-component__working-info  info-component__img"
      "info-component__testimonial  info-component__img";
    gap: 2rem;

    max-width: 90%;

    margin-top: 12rem;

    background: linear-gradient(
        to top,
        var(--clr-light-grayish-blue),
        var(--clr-light-grayish-blue)
      )
      no-repeat 0px 6rem;
  }

  .info-component__background-img {
    content: url("../images/bg-curve-desktop.svg");
    padding-bottom: 8rem;
  }

  .info-component__img {
    padding: 0;

    justify-self: center;

    max-width: 90%;
    margin-bottom: 8rem;
  }

  .info-component__heading {
    font-size: 3.8rem;
    padding: 0 0 0 7rem;
    align-self: start;
  }

  .info-component__info-1,
  .info-component__info-2 {
    text-align: start;

    width: 82%;
    padding: 0 0 0 7rem;

    font-size: 1.5rem;

    color: var(--clr-very-dark-blue);
  }

  .info-component__working-info {
    align-items: center;

    justify-content: start;
    width: 25.1%;

    padding: 0 0 0.5rem 0;
    margin-left: 7rem;
  }

  .info-component__working-info > p {
    font-size: 1.6rem;
  }

  .info-component__testimonial {
    max-width: 57%;

    padding: 3rem 5rem 3rem 4rem;
    margin-left: 7rem;
    margin-top: 2rem;
  }

  .info-component__testimonial > p {
    font-size: 1.3rem;
    font-weight: var(--fw-700);
  }

  /* component 4 - desktop */

  .product-trial-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3.5rem 7rem;
    grid-template-areas:
      "product-trial-component__heading product-trial-component__email-input"
      "product-trial-component__info product-trial-component__button";
    gap: 1.6rem;

    max-width: 90%;
    padding: 7rem;
  }

  .product-trial-component__heading {
    font-size: 2.8rem;
  }

  .product-trial-component__info {
    text-align: start;
    max-width: 75%;
    padding: 0;
  }

  .product-trial-component__email-input {
    padding: 1.4rem 0 1.4rem 1.2rem;
    margin-top: 2rem;
    margin-left: 12rem;
  }

  .product-trial-component__button {
    max-width: 30%;
    padding: 1.5rem 0;
    margin-left: 12rem;
  }

  /* component 5 - desktop */

  .footer-component {
    display: grid;
    grid-template-columns: 42rem 20rem 20rem 18rem;
    grid-template-rows: 5.4rem 2.2rem 2.2rem;
    grid-template-areas:
      "footer-component__logo . . ."
      "footer-component__phone footer-component__about-us footer-component__contact-us footer-component__social-links"
      "footer-component__email footer-component__about-us footer-component__contact-us .";

    width: 90%;
    padding: 10rem 7rem 16rem 7rem;
  }

  .footer-component__logo {
    width: 40%;
  }

  .footer-component__phone,
  .footer-component__email {
    color: var(--clr-light-gray);
    font-size: 1.4rem;
  }

  .footer-component__about-us,
  .footer-component__contact-us {
    padding: 0;
    color: var(--clr-light-gray);
    font-size: 1.4rem;
  }

  .footer-component__social-links > ul {
    gap: 1.8rem;
  }

  .footer-component__social-links > ul > li {
    width: 3rem;
    height: 3rem;
  }

  .fa-brands {
    font-size: 1.4rem;
  }
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* component 1 - grid areas */

.header-component {
  grid-area: header-component;
}

.header-component__img {
  grid-area: header-component__img;
}

.header-component__nav {
  grid-area: header-component__nav;
}

/* component 2 - grid areas */

.main-component {
  grid-area: main-component;
}

.main-component__img {
  grid-area: main-component__img;
}

.main-component__heading {
  grid-area: main-component__heading;
}

.main-component__product-info {
  grid-area: main-component__product-info;
}

.main-component__email-input {
  grid-area: main-component__email-input;
}

.main-component__button {
  grid-area: main-component__button;
}

/* component 3 - grid areas */

.info-component {
  grid-area: info-component;
}

.info-component__background-img {
  grid-area: info-component__background-img;
}

.info-component__img {
  grid-area: info-component__img;
}

.info-component__heading {
  grid-area: info-component__heading;
}

.info-component__info-1 {
  grid-area: info-component__info-1;
}

.info-component__info-2 {
  grid-area: info-component__info-2;
}

.info-component__working-info {
  grid-area: info-component__working-info;
}

.info-component__testimonial {
  grid-area: info-component__testimonial;
}

/* component 4 - grid areas  */

.product-trial-component {
  grid-area: product-trial-component;
}

.product-trial-component__heading {
  grid-area: product-trial-component__heading;
}

.product-trial-component__info {
  grid-area: product-trial-component__info;
}

.product-trial-component__email-input {
  grid-area: product-trial-component__email-input;
}

.product-trial-component__button {
  grid-area: product-trial-component__button;
}

/* component 5 - grid areas */

.footer-component {
  grid-area: footer-component;
}

.footer-component__logo {
  grid-area: footer-component__logo;
}

.footer-component__phone {
  grid-area: footer-component__phone;
}

.footer-component__email {
  grid-area: footer-component__email;
}

.footer-component__about-us {
  grid-area: footer-component__about-us;
}

.footer-component__contact-us {
  grid-area: footer-component__contact-us;
}

.footer-component__social-links {
  grid-area: footer-component__social-links;
}
