/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-very-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);
  --clr-light-grayish-blue: hsl(240, 75%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

html,
body {
  height: 100%;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

/* debug purpose only */
header,
footer,
article {
  border: 1px solid red;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component"
    "main-component"
    "info-component"
    "product-trial-component"
    "footer-component";
  gap: 6rem;

  min-width: 37.5rem;

  padding: 0 1.5rem;
  margin: 2rem 0;
}

/* style 1st component - mobile */

.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-component__img {
  height: 3.5rem;
}

.header-component__nav {
  padding-right: 1.5rem;
}

.header-component__nav > ol {
  display: flex;
  gap: 2rem;
}

.header-component__nav > ol > li {
  list-style-type: none;

  font-size: 1.5rem;
  font-family: var(--ff-heading);
  font-weight: var(--fw-400);
}

.header-component__nav > ol > li > a {
  text-decoration: none;
}

/* style 2nd component - mobile */

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.main-component__heading {
  max-width: 85%;

  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.5rem;

  text-align: center;
}

.main-component__product-info {
  max-width: 80%;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.4rem;

  text-align: center;
}

.main-component__email-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.4rem 0 1.4rem 1rem;
}

.main-component__button {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.4rem;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
}

/* style 3rd component - mobile */

.info-component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.info-component__heading {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.2rem;
}

.info-component__info-1,
.info-component__info-2 {
  width: 86%;

  font-size: 1.4rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);

  text-align: center;
}

.info-component__working-info {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 50%;
  border-bottom: 0.1rem solid green;
}

.info-component__working-info > p {
  font-size: 1.4rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
}

.info-component__working-info > img {
  width: 2.5rem;
}

.info-component__testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 0 5rem;
}

.info-component__testimonial > p {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.2rem;
}

.info-component__testimonial-person-details {
  display: flex;
  gap: 1rem;
}

.info-component__testimonial-person-details > img {
  width: 3.5rem;
  border-radius: 50%;
}

.info-component__testimonial-person-details > section {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}

.info-component__testimonial-person-details > section > h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 1.2rem;
}

.info-component__testimonial-person-details > section > p {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1rem;
}

/* style 4th component - mobile */

.product-trial-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.product-trial-component__heading {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.2rem;
}

.product-trial-component__info {
  width: 75%;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.4rem;

  text-align: center;
}

.product-trial-component__email-input {
  width: 65%;

  font-size: 1.4rem;

  padding: 1.4rem 0 1.4rem 1rem;
}

.product-trial-component__button {
  width: 65%;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.4rem;

  padding: 1.4rem 0;
}

/* style 5th component - mobile */

/* remove me */
.footer-component {
  border: none;
}

.footer-component {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--clr-very-dark-blue);
  color: white;

  padding-left: 1.5rem;
}

.footer-component__logo {
  width: 50%;
}

.footer-component__phone,
.footer-component__email {
  display: flex;
  gap: 1.5rem;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.3rem;
}

.footer-component__about-us > ul > li,
.footer-component__contact-us > ul > li,
.footer-component__social-links > ul > li {
  list-style-type: none;
}

.footer-component__about-us,
.footer-component__contact-us {
  display: flex;
  flex-direction: column;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.3rem;
}

.footer-component__about-us > ul,
.footer-component__contact-us > ul {
  padding: 1.2rem 0;
}

.footer-component__about-us > ul > li,
.footer-component__contact-us > ul > li {
  padding: 1.2rem 0;
}

.footer-component__social-links > ul {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.footer-component__social-links > ul > li > i {
  font-size: 2rem;
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

.header-component {
  grid-area: header-component;
}

.main-component {
  grid-area: main-component;
}

.info-component {
  grid-area: info-component;
}

.product-trial-component {
  grid-area: product-trial-component;
}

.footer-component {
  grid-area: footer-component;
}
