/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-very-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);
  --clr-light-grayish-blue: hsl(240, 75%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

html,
body {
  height: 100%;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

/* debug purpose only */
header,
footer,
article {
  border: 1px solid red;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component"
    "main-component"
    "info-component"
    "product-trial-component"
    "footer-component";
  gap: 6rem;

  min-width: 37.5rem;
}

/* style 2nd component - mobile */

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.main-component__heading {
  max-width: 85%;

  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2.5rem;

  text-align: center;
}

.main-component__product-info {
  max-width: 80%;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.4rem;

  text-align: center;
}

.main-component__email-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.4rem 0 1.4rem 1rem;
}

.main-component__button {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.4rem;

  font-family: var(--ff-body);
  font-weight: var(--fw-400);
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

.header-component {
  grid-area: header-component;
}

.main-component {
  grid-area: main-component;
}

.info-component {
  grid-area: info-component;
}

.product-trial-component {
  grid-area: product-trial-component;
}

.footer-component {
  grid-area: footer-component;
}
